<!DOCTYPE html>
<html lang="ro">

<head>
	<%- include("../fragmente/head.ejs") %>
	<title>404</title>

</head>

<body>
	<%- include("../fragmente/header.ejs") %>

	<main>
		<h1>404 Page not found</h1>
		<p>Pagina pe care o cauti nu exista!</p>
	</main>

	<%- include("../fragmente/footer.ejs") %>
</body>

</html>