<!DOCTYPE html>
<html lang="ro">

<head>
	<%- include("../fragmente/head.ejs") %>
	<title>Galerie animata</title>
	<link rel="stylesheet" href="/css/sass_css/galerie_animata.css">

</head>

<body>
	<%- include("../fragmente/header.ejs") %>

	<main>
		<h1>Galerie animata</h1>
		<section >
			  <div id="galerie-animata">
				<figure>
					  <img src="/images/gallery/books_1.jpg" alt="carti">
					  <figcaption>Carti in raft(
						<small><a href="https://lithub.com/wp-content/uploads/2019/07/books.jpg">Sursa</a>
						</small>)
					</figcaption>
				</figure>
				<figure>
					  <img src="/images/gallery/books_2.jpg" alt="carti vechi">
					  <figcaption>Carti in anticariat(
						<small><a href="https://lithub.com/wp-content/uploads/2019/07/used-books-store-2.jpg">Sursa</a>
						</small>)
					</figcaption>
				</figure>
				<figure>
					  <img src="/images/gallery/books_3.jpg" alt="carti">
					  <figcaption>Carti noi (
						<small><a href="https://miro.medium.com/max/10944/1*S81O15rjKfG-BFdnNC6-GQ.jpeg">Sursa</a>
						</small>)
					</figcaption>
				</figure>
				<figure>
					  <img src="/images/gallery/books_4.jpg" alt="carti groase">
					  <figcaption>Carti groase (
						<small><a href="https://images.ctfassets.net/cnu0m8re1exe/4KwrJVfCGeyOKwm8PS2tjI/30026753d97e3b41a50560063126ded8/shutterstock_135114548.jpg?w=650&h=433&fit=fill">Sursa</a>
						</small>)
					</figcaption>
					</figure>
				<figure>
					  <img src="/images/gallery/books_5.jpg" alt="carti deschise">
					  <figcaption>Carti deschise (
						<small><a href="https://images.theconversation.com/files/45159/original/rptgtpxd-1396254731.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1356&h=668&fit=crop">Sursa</a>
						</small>)
					</figcaption>
				</figure>
				<figure>
					  <img src="/images/gallery/books_6.png" alt="carti desenate">
					  <figcaption>Carti desenate (
						<small><a href="https://images.ctfassets.net/q5lwz1whkyct/5RmvoqIqsWo3c1PFQLicOf/9fd4399a8df303b02e771420f5b9fd70/books-1200x880.png">Sursa</a>
						</small>)
					</figcaption>
				</figure>
				<figure>
					  <img src="/images/gallery/books_7.jpg" alt="carti si mai vechi">
					  <figcaption>Carti si mai vechi (
						<small><a href="https://upload.wikimedia.org/wikipedia/commons/b/b6/Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg">Sursa</a>
						</small>)
					</figcaption>
				</figure>
				<!---->
				<figure>
					<img src="/images/gallery/books_8.jpg" alt="carti si cafea">
					<figcaption>Carti si cafea (
					  <small><a href="https://www.twincities.com/wp-content/uploads/2017/09/books-reading-library.jpg">Sursa</a>
					  </small>)
				  </figcaption>
				</figure>
				<figure>
					<img src="/images/gallery/books_9.jpg" alt="carti in aer liber">
					<figcaption>Carti in aer liber (
					  <small><a href="https://tillstest.com/wp-content/uploads/2017/02/AdobeStock_90550437.jpeg">Sursa</a>
					  </small>)
				  </figcaption>
				</figure>
				<figure>
					<img src="/images/gallery/books_10.jpg" alt="carti si ceai">
					<figcaption>Carti si ceai (
					  <small><a href="https://i.pinimg.com/originals/48/c8/b8/48c8b8489250cf7f863a3305f8757579.jpg">Sursa</a>
					  </small>)
				  </figcaption>
				</figure>  
			</div>
		</section>	
	</main>

	<%- include("../fragmente/footer.ejs") %>
</body>

</html>