#produse {
    display: grid;
}

.carte {
    margin: 0.5rem;
    padding: 2rem;
    border: 0.05rem solid black;
}

.carte>table {
    border-collapse: collapse;
    empty-cells: show;
}

.carte th, .carte td {
    border: 0.05rem solid black;
    padding: 0.25rem;
    text-align: center;
}

.carte>img {
    float: left;
    width: 200px;
    height: 300px;
    margin: 1rem;
    margin-right: 4rem;
}

#filtre, #sortare, #radio-grup, #calculare, .i-select-prod{
    margin:0.5rem;
}


