<footer>
    <address>Date de contact manager <br />
        e-mail: <a href="mailto:ion.popescu@librarie.com">ion.popescu@librarie.com</a><br>
        Strada Atomului, nr. 20, sector 3.
    </address>
    <div><a href="#begin"><span class="fas fa-chevron-up"></span> Inceputul paginii</a></div>
</footer>